* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    font-size: 26px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.options,
.start-again {
    font-size: 20px;
    margin-right: 12px;
    padding: 12px;
}

.result-container {
    display: flex;
    gap: 12px;
}

.start-again {
    display: none;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    width: 100vw;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}